{% extends "layouts/base.html" %}

{% block title %} Game Report Roster {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<!-- Header -->
	<!-- All of this contains the breadcrumb up top -->
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
			<div class="header-body">
				<div class="row align-items-center py-4">
					<div class="col-lg-6 col-7">
						<h6 class="h2 text-white d-inline-block mb-0">Game Report</h6>
						<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
							<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
								<li class="breadcrumb-item">Game Report</li>
								<li class="breadcrumb-item active" aria-current="page">Rosters</li>
							</ol>
						</nav>
					</div>
					<div class="col-lg-6 col-5 text-right">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Card for the entire page -->
	<form id="submitAll" method="POST">
		{% csrf_token %}
		<div class="card">
			<!-- Container Class -->
			<div class="container-fluid mt--6">

				<!-- Roster Table -->
				<div class="row card-wrapper">

					<!-- Creates our Column of size 6 -->
					<div class="col-lg-6">
						<!-- Card for our left side Table for the Home Team -->
						<div class="card">

							<!-- Card header -->
							<div class="card-header border-0">
								<div class="row">

									<div class="col-6">
										<h3 class="mb-0">{{ homeTeam.name }} Roster </h3>
									</div>

								</div>
							</div>


							<div class="table-responsive">
								<table class="table align-items-center table-flush table-hover">

									<!-- Table Header -->
									<thead class="thead-light">
									<tr>
										<th>Played</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Jersey Number</th>
									</tr>
									</thead>

									<!-- Table Body -->
									<tbody>

									<!-- Iterates over our Players Creates a row for each -->
									{% for player in homeTeamPlayers %}
										<tr>
											<td>
												<input type="checkbox" name="homePlayed" value="{{ player.player__id }}">
											</td>

											<td>{{ player.player__firstName }}</td>
											<td>{{ player.player__lastName }}</td>
											<td>{{ player.player__jerseyNumber }}</td>

										</tr>
									{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Testing putting Away Card Back -->
					<div class="col-lg-6">
						<div class="card">
							<!-- Card header -->
							<div class="card-header border-0">
								<div class="row">

									<div class="col-6">
										<h3 class="mb-0">{{ awayTeam.name }} Roster </h3>
									</div>

								</div>
							</div>

							{#						<form id="awayTeamChecked" method="POST">#}
							{#							{% csrf_token %}#}
							<div class="table-responsive">
								<table class="table align-items-center table-flush table-hover">

									<thead class="thead-light">
									<tr>
										<th>Played</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Jersey Number</th>
									</tr>
									</thead>


									<!-- Table Body -->
									<tbody>

									{% for player in awayTeamPlayers %}

										<tr>
											<td>
												<input type="checkbox" name="awayPlayed" value="{{ player.player__id }}">
											</td>
											<td>{{ player.player__firstName }}</td>
											<td>{{ player.player__lastName }}</td>
											<td>{{ player.player__jerseyNumber }}</td>
										</tr>
									{% endfor %}


									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End of Testing putting Away Card Back -->

				</div>


				<!-- This is our card on the bottom now for adding Players -->
				<div class="row card-wrapper">
					<form></form>
					<!-- Creates our Column of size 6 -->
					<div class="col-lg-6">
						<!-- Card for our left side Table for the Home Team -->
						<div class="card">

							<!-- Add Player header -->
							<div class="card-header border-0">
								<div class="row">

									<div class="col-auto">
										<h3 class="mb-0">{{ homeTeam.name }} Add Player </h3>
									</div>
								</div>
							</div>

							<!-- Add Player Form Starts here -->
							<div id="form-container-homeTeam" class="card-body">
								{{ formsetHomeTeam.management_form }}
								{% for form in formsetHomeTeam %}
									<div class="form-row align-items-center" id="homeTeamForm">
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.firstName }}
											</div>
										</div>
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.lastName }}
											</div>
										</div>
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.jerseyNumber }}
											</div>
										</div>
									</div>
									<button type="button" class="btn btn-primary" id="homeAddAnother">+</button>
								{% endfor %}
							</div>
						</div>
					</div>

					<!-- Creates our Column of size 6 -->
					<div class="col-lg-6">
						<!-- Card for our left side Table for the Home Team -->
						<div class="card">

							<!-- Add Player header -->
							<div class="card-header border-0">
								<div class="row">

									<div class="col-auto">
										<h3 class="mb-0">{{ awayTeam.name }} Add Player </h3>
									</div>
								</div>
							</div>

							<!-- Add Player Form Starts here -->
							<div id="form-container-awayTeam" class="card-body">
								{{ formsetAwayTeam.management_form }}
								{% for form in formsetAwayTeam %}
									<div class="form-row align-items-center" id="awayTeamForm">
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.firstName }}
											</div>
										</div>
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.lastName }}
											</div>
										</div>
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label"></label>
												{{ form.jerseyNumber }}
											</div>
										</div>
									</div>
									<button type="button" class="btn btn-primary" id="awayAddAnother">+</button>
								{% endfor %}
							</div>
						</div>
					</div>

				</div>


				<!-- Adding submit button here -->
				<div class="row card-wrapper">

					<!-- Creates our Column of size 6 -->
					<div class="col">
						<!-- Card for our left side Table for the Home Team -->
						<div class="card-lg-6">

							<!-- Add Player header -->
							<div class="card-header border-0">
								<div class="row">

									<div class="col-auto">
										<h3 class="mb-0">Submit </h3>
									</div>
								</div>
							</div>

							<!-- Add Player Form Starts here -->
							<div class="card-body">
								<button type="submit" name="submitRoster" class="btn btn-primary btn-simple">Submit</button>

							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</form>


{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
	<script>
      let homeTeamForm = document.querySelectorAll("#homeTeamForm")
      let homeContainer = document.querySelector("#form-container-homeTeam")
      let homeAddMoreBtn = document.querySelector("#homeAddAnother")
      let homeTotalForms = document.querySelector("#id_home-TOTAL_FORMS")
      {#let submitButton = document.querySelector("#submitButton")#}

      let homeFormNum = homeTeamForm.length - 1
      homeAddMoreBtn.addEventListener('click', add_new_form)

      function add_new_form(event) {
          event.preventDefault()
          let newForm = homeTeamForm[0].cloneNode(true)
          let formRegex = RegExp(`home-(\\d){1}-`, 'g')
          homeFormNum++

          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `home-${homeFormNum}-`)
          homeContainer.insertBefore(newForm, homeAddMoreBtn)
          homeTotalForms.setAttribute('value', `${homeFormNum + 1}`)
      }
	</script>

	<script>
      let awayTeamForm = document.querySelectorAll("#awayTeamForm")
      let awayContainer = document.querySelector("#form-container-awayTeam")
      let awayAddMoreBtn = document.querySelector("#awayAddAnother")
      let awayTotalForms = document.querySelector("#id_away-TOTAL_FORMS")
      {#let submitButton = document.querySelector("#submitButton")#}

      let awayFormNum = awayTeamForm.length - 1
      awayAddMoreBtn.addEventListener('click', add_new_form)

      function add_new_form(event) {
          event.preventDefault()
          let newForm = awayTeamForm[0].cloneNode(true)
          let formRegex = RegExp(`away-(\\d){1}-`, 'g')
          awayFormNum++

          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `away-${awayFormNum}-`)
          awayContainer.insertBefore(newForm, awayAddMoreBtn)
          awayTotalForms.setAttribute('value', `${awayFormNum + 1}`)
      }
	</script>
{% endblock javascripts %}