{% extends "layouts/base.html" %}

{% block title %} Ice Slot Manager {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<!-- Header -->
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
			<div class="header-body">
				<div class="row align-items-center py-4">
					<div class="col-lg-6 col-7">
						<h6 class="h2 text-white d-inline-block mb-0">Admin Portal</h6>
						<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
							<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
								<li class="breadcrumb-item active" aria-current="page">Ice Slot Manager</li>
							</ol>
						</nav>
					</div>
					<div class="col-lg-6 col-5 text-right">
						{#						              <a href="#" class="btn btn-sm btn-neutral">New</a>#}
						{#						              <a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="card">
		<div class="container-fluid mt--6">
			<div class="row card-wrapper">

				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div class="card-header border-0">
							<div class="row">

								<div class="col-6">
									<h3 class="mb-0">Ice Slot Manager</h3>
								</div>

							</div>
						</div>

						<div class="card-body">
							<form id="form-container" method="POST">
								{% csrf_token %}
								{{ formset.management_form }}
								{% for form in formset %}
									<div class="form-row align-items-center" id="iceSlotForm">

										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label">{{ form.rink.label }}</label>
												{{ form.rink }}
											</div>
										</div>

										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label">{{ form.date.label }}</label>
												{{ form.date }}
											</div>
										</div>
										<div class="col-auto">
											<div class="form-group">
												<label class="form-control-label">{{ form.time.label }}</label>
												{{ form.time }}
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-fill btn-primary" id="submitButton">Submit</button>
									<button type="button" class="btn btn-primary" id="addAnother">+</button>
								{% endfor %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	<script>
      let iceSlotForm = document.querySelectorAll(".form-row")
      let container = document.querySelector("#form-container")
      let addMoreBtn = document.querySelector("#addAnother")
      let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
      let submitButton = document.querySelector("#submitButton")

      let formNum = iceSlotForm.length - 1
      addMoreBtn.addEventListener('click', add_new_form)

      function add_new_form(event) {
          event.preventDefault()
          let newForm = iceSlotForm[0].cloneNode(true)
          let formRegex = RegExp(`form-(\\d){1}-`, 'g')
          formNum++

          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
          container.insertBefore(newForm, submitButton)
          totalForms.setAttribute('value', `${formNum + 1}`)
      }
	</script>
{% endblock javascripts %}